<ion-view title="Controle de ponto">
	<ion-content>

		<button class="button button-block button-balanced" ng-click="add()">Adicionar ponto</button>

		<div class="card">
            <input type="text" ng-model="search">
		</div>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ng-repeat="item in list | filter:search | orderBy:'date':reverse=true" type="item-text-wrap" href="#/app/pontodetail/{{::item._id}}">
                {{::item.date}} - {{::item._id}} <!-- | date:'dd-MM-yyyy'-->
            </ion-item>
        </ion-list>
	</ion-content>
</ion-view>